.menu-toggler{
  background: none;
  width: 40px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 15px;
  outline: none;
  z-index: 999;
  display: none;
}

.menu-toggler span{
  display: block;
  height: 3px;
  background-color: #34b7a7;
  margin: 5px 0;
  position: relative;
  transition: .3s linear;
}

@media (max-width:991px){
  .menu-toggler{
    display: block;
  }
}

.div-nav-mob{

}

.nav-mob{
  background-color: #fff;
  z-index: 9999;
  position: absolute;
  border-radius: 20px;
  left: 15px;
  top: 60px;
  bottom: 15px;
  right: 15px;
  padding: 30px;
  transition: all 0.5;
  -webkit-transition: all 0.5;
  -moz-transition: all 0.5;
  -ms-transition: all 0.5;
  -o-transition: all 0.5;
}

.nav-mob ul{
  list-style: none;
  padding: 0;
}

.nav-mob ul li{
  padding-bottom: 20px;
  padding-left: 10px;
}

.nav-mob ul li a{
  color: black;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.nav-mob ul li a:hover{
  color: #34b7a7;
}

.nav-overly{
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(9, 9, 9, 0.6);
  overflow: hidden;
  transition: ease-in-out 0.2s;
}

.nav-toggle{
  position: fixed;
  right: 15px;
  top: 17px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
  color: white;
}

.d-none{
  display: none;
}

.d-block{
  display: block;
}

