
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <h1 class="logo"><a routerLink="home">Muhannad</a></h1>

    <nav class="nav-menu d-none d-lg-block" >
      <ul>
        <li routerLinkActive="active"><a routerLink="/home" href="home">{{"HOME" | translate}}</a></li>
        <li routerLinkActive="active"><a routerLink="/about" href="about">{{"ABOUT" | translate}}</a></li>
        <li routerLinkActive="active"><a routerLink="/resume" href="resume">{{"RESUME" | translate}}</a></li>
        <li routerLinkActive="active"><a routerLink="/publisher" href="publisher">{{"PUBLISHER" | translate}}</a></li>
        <li routerLinkActive="active"><a routerLink="/gallary" href="gallary">{{"GALLARY" | translate}}</a></li>
        <li routerLinkActive="active"><a routerLink="/bluger" href="bluger">{{"BLUGER" | translate}}</a></li>
        <li routerLinkActive="active"><a routerLink="/chance" href="chance">{{"CHANCE" | translate}}</a></li>
        <li routerLinkActive="active"><a routerLink="/contact" href="contact">{{"CONTACT" | translate}}</a></li>
      </ul>
    </nav><!-- .nav-menu -->

    <div class="header-social-links">
      <a *ngFor="let social of social_media"
        href={{social.URL}}
        class={{social.NAME}} target="_blank">
        <i class="{{'icofont-' + social.NAME | lowercase}}"></i>
      </a>
    </div>

  </div>
</header><!-- End Header -->



