<!--
 <button type="button" class="mobile-nav-toggle d-lg-none" >
   <i class="icofont-navigation-menu"></i>
 </button> -->

 <!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <h1 class="logo"><a routerLink="home">Muhannad</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav class="nav-menu d-none d-lg-block" >
      <ul>
        <li routerLinkActive="active"><a routerLink="/home" href="home">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/about" href="about">About</a></li>
        <li routerLinkActive="active"><a routerLink="/resume" href="resume">Resume</a></li>
        <li routerLinkActive="active"><a routerLink="/publisher" href="publisher">Publisher</a></li>
        <li routerLinkActive="active"><a routerLink="/gallary" href="gallary">Gallary</a></li>
        <li routerLinkActive="active"><a routerLink="/bluger" href="bluger">Bluger</a></li>
        <li routerLinkActive="active"><a routerLink="/contact" href="contact">Contact</a></li>
      </ul>
    </nav><!-- .nav-menu -->

    <div class="header-social-links">

      <a *ngFor="let social of social_media"
      href={{social.URL}}
      class={{social.NAME}} target="_blank">
       <i class="{{'icofont-' + social.NAME | lowercase}}"></i>
      </a>

    </div>

  </div>

</header><!-- End Header -->



