<div *ngIf="lang === 'en'">
    <img [src]="My_Image_Url" class="testimonial-img" alt="">
    <h3>{{Name}}</h3>
    <h4>{{Title}}</h4>
    <p>
        <i class="bx bxs-quote-alt-left quote-icon-left"></i> {{Description}}
        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
    </p>
</div>

<div class="rlt text-right" *ngIf="lang === 'ar'">
    <img [src]="My_Image_Url" class="testimonial-img" alt="">
    <h3>{{Name}}</h3>
    <h4>{{Title}}</h4>
    <p>
        <i class="bx bxs-quote-alt-left quote-icon-left"></i> {{Description}}
        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
    </p>
</div>
