.skill_ar {
    padding: 10px 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: flex;
    font-weight: 600;
    color: #222222;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.skill {
    padding: 10px 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: flex;
    font-weight: 600;
    color: #222222;
    justify-content: space-between;
}
