<main id="main" *ngIf="bluger != null">

    <!-- ======= Blog Page ======= -->
    <div class="blog-page area-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 display">
                    <div class="page-head-blog">
                        <bluger-titles></bluger-titles>
                    </div>
                </div>
                <!-- End left sidebar -->
                <!-- Start single blog -->
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <!-- single-blog start -->
                            <article class="blog-post-wrapper">
                                <h2>{{bluger.TITLE}}</h2>
                                <img src={{bluger.My_Uploaded_files[0].My_URL}}>
                                <div style="margin: 20px 0;">
                                    <h3>{{bluger.AUTHOR}}</h3>
                                    <h4>{{bluger.AUTHOR_INFO}}</h4>
                                </div>
                                <pre>{{bluger.CONTENT1}}</pre>
                                <p class="quote">
                                    <quote>{{bluger.QUATE}}</quote>
                                </p>
                                <img src={{bluger.My_Uploaded_files[1].My_URL}}>
                                <pre>{{bluger.CONTENT2}}</pre>
                                <img src={{bluger.My_Uploaded_files[2].My_URL}}>
                                <pre>{{bluger.CONTENT3}}</pre>
                                <img src={{bluger.My_Uploaded_files[3].My_URL}}>
                                <pre>{{bluger.CONTENT4}}</pre>
                                <img src={{bluger.My_Uploaded_files[4].My_URL}}>
                                <pre>{{bluger.CONTENT5}}</pre>
                                <img src={{bluger.My_Uploaded_files[5].My_URL}}>
                            </article>
                            <!-- single-blog end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog Page -->

</main>
<!-- End #main -->
