<main id="main" *ngIf="gallary_item != null">

  <section id="discription-details" class="discription-details" *ngFor="let item of gallary_item">
    <div class="container">
      <div class="row">

        <div class="col-lg-8">

          <div class="discription-title">
            <a routerLink="/gallary" class="twitter"><i class="icofont-bubble-left icofont-5x"></i></a>
            <h2>This is an example of discription detail</h2>
          </div>

          <swiper
          [spaceBetween]="30"
          [navigation]="true"
          class="mySwiper"
          >
            <ng-template swiperSlide *ngFor="let items of item.My_Uploaded_files">
              <img src={{items.My_URL}} class="img-fluid" alt="">
            </ng-template>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </swiper>
          <i class="icofont-hand-drag2 icofont-5x"></i>

        </div>

        <div class="col-lg-4 discription-info">
          <h3>{{item.NAME}}</h3>
          <ul>
            <li><strong>Category</strong>: {{item.NAME}}</li>
            <li><strong>Project date</strong>: {{item.PROJECTDATE}}</li>
            <li><strong>Project URL</strong>: <a href="#">{{item.PROJECTURL}}</a></li>
          </ul>
          <p>
            {{item.DESCRIPTION}}
          </p>
        </div>
      </div>
    </div>

  </section>



</main><!-- End #main -->
