.discription-details .discription-title {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.discription-details .discription-title h2 {
    font-size: 26px;
    font-weight: 700;
    margin: 0;
}

@media (max-width: 400px) {
    .discription-details .discription-title h2 {
        font-size: 15px;
    }
}

.discription-details .discription-details-carousel .owl-nav,
.discription-details .discription-details-carousel .owl-dots {
    margin-top: 5px;
    text-align: center;
}

.discription-details .discription-details-carousel .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd !important;
}

.discription-details .discription-details-carousel .owl-dot.active {
    background-color: #34b7a7 !important;
}

.discription-details .discription-info {
    padding-top: 45px;
}

.discription-details .discription-info h3 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
}

.discription-details .discription-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.discription-details .discription-info ul li+li {
    margin-top: 10px;
}

.discription-details .discription-info p {
    font-size: 15px;
    padding: 15px 0 0 0;
}

@media (max-width: 992px) {
    .discription-details .discription-info {
        padding-top: 20px;
    }
}

.hand-drag {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #1a9687;
    z-index: 1;
}

.icofont-hand-drag2 {
    content: "\ea81";
    color: #d1383b;
    margin-left: 43%;
}

@import "~swiper/swiper";
@import "~swiper/components/navigation/navigation";
.swiper-container {
    width: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
    margin-bottom: 40px;
    cursor: grab;
}

.rtl {
    direction: rtl;
}

.text-right {
    text-align: right;
}
