<main id="main" *ngIf="personal != null">

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">

            <div *ngIf="lang === 'en'" class="section-title">
                <h2>Gallary</h2>
                <p>{{personal.GALLARY_DESCRIPTION}}</p>
            </div>

            <div *ngIf="lang === 'ar'" class="section-title">
                <h2>وسائط</h2>
                <p>{{personal.GALLARY_DESCRIPTION_AR}}</p>
            </div>

            <div *ngIf="lang === 'en'" class="row portfolio-container " data-aos="fade-up" data-aos-delay="200">
                <div class="col-lg-4 col-md-6 portfolio-item" *ngFor="let g of gallary">
                    <a routerLink="/discription/{{g.GALLARY_ID}}">
                        <div class="portfolio-wrap">
                            <img src={{g.My_Image_Url}} class="img-fluid" alt="">

                            <div class="portfolio-info">
                                <h4>{{g.TITLE}}</h4>
                                <p>{{g.DESCRIPTION}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div *ngIf="lang === 'ar'" class="row portfolio-container " data-aos="fade-up" data-aos-delay="200">
                <div class="col-lg-4 col-md-6 portfolio-item" *ngFor="let g of gallary">
                    <a routerLink="/discription/{{g.GALLARY_ID}}">
                        <div class="portfolio-wrap">
                            <img src={{g.My_Image_Url}} class="img-fluid" alt="">

                            <div class="portfolio-info">
                                <h4>{{g.TITLE_AR}}</h4>
                                <p>{{g.DESCRIPTION_AR}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </section>
    <!-- End Portfolio Section -->

</main>
<!-- End #main -->
