<main id="main">

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Resume</h2>
        <p>{{personal.RESUME_DESCRIPTION}}</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Alice Barkley</h4>
            <p><em>{{personal.RESUME_SUMARY}}</em>
            </p>

            <ul>
              <li>{{personal.ADDRESS}}</li>
              <li>{{personal.PHONE}}</li>
              <li>{{personal.EMAIL}}om</li>
            </ul>

          </div>

          <h3 class="resume-title">Education</h3>

          <div class="resume-item" *ngFor="let eduac of education">
            <education
            [Title]='eduac.TITLE'
            [Date]='eduac.FROM_TO_D'
            [Name]='eduac.NAME'
            [Description]='eduac.DESCRIPTION'>
            </education>

          </div>

        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item"  *ngFor="let exper of experience">

            <experience
            [Title]='exper.TITLE'
            [Date]='exper.FROM_TO_Y'
            [Address]='exper.ADDRESS'
            ></experience>

            <ul>

              <div *ngFor="let experIT of exper.My_Experience_item">
                <experience-item
                [Item]='experIT.ITEM'
                ></experience-item>
              </div>

            </ul>

          </div>

        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->

</main><!-- End #main -->
