<main id="main">

    <!-- ======= Blog Page ======= -->
    <div class="blog-page area-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 display">
                    <div class="page-head-blog">
                        <bluger-titles></bluger-titles>
                    </div>
                </div>
                <!-- End left sidebar -->
                <!-- Start single blog -->
                <div class="col-md-8 col-sm-12 col-xs-12 background">
                    <div class="row">

                        <div class="col-md-4 col-sm-4 col-xs-12" *ngFor="let bluger of bluger">
                            <div class="single-blog">
                                <div class="single-blog-img">
                                    <a routerLink="/bluger/content/{{bluger.BLUGER_ID}}">
                                        <img src={{bluger.My_Uploaded_files[0].My_URL}} alt="">
                                    </a>
                                </div>
                                <div class="blog-text">
                                    <h4>
                                        <a routerLink="/bluger/content/{{bluger.BLUGER_ID}}">{{bluger.TITLE}}</a>
                                    </h4>
                                    <p>
                                        {{bluger.DESCRIPTION}}
                                    </p>
                                </div>
                                <span>
                  <a routerLink="/bluger/content/{{bluger.BLUGER_ID}}" class="ready-btn">Read more</a>
                </span>
                            </div>
                            <!-- Start single blog -->
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12" *ngFor="let bluger of bluger">
                            <div class="single-blog">
                                <div class="single-blog-img">
                                    <a routerLink="/bluger/content/{{bluger.BLUGER_ID}}">
                                        <img src={{bluger.My_Uploaded_files[0].My_URL}} alt="">
                                    </a>
                                </div>
                                <div class="blog-text">
                                    <h4>
                                        <a routerLink="/bluger/content/{{bluger.BLUGER_ID}}">{{bluger.TITLE}}</a>
                                    </h4>
                                    <p>
                                        {{bluger.DESCRIPTION}}
                                    </p>
                                </div>
                                <span>
                <a routerLink="/bluger/content/{{bluger.BLUGER_ID}}" class="ready-btn">Read more</a>
              </span>
                            </div>
                            <!-- Start single blog -->
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12" *ngFor="let bluger of bluger">
                            <div class="single-blog">
                                <div class="single-blog-img">
                                    <a routerLink="/bluger/content/{{bluger.BLUGER_ID}}">
                                        <img src={{bluger.My_Uploaded_files[0].My_URL}} alt="">
                                    </a>
                                </div>
                                <div class="blog-text">
                                    <h4>
                                        <a routerLink="/bluger/content/{{bluger.BLUGER_ID}}">{{bluger.TITLE}}</a>
                                    </h4>
                                    <p>
                                        {{bluger.DESCRIPTION}}
                                    </p>
                                </div>
                                <span>
              <a routerLink="/bluger/content/{{bluger.BLUGER_ID}}" class="ready-btn">Read more</a>
            </span>
                            </div>
                            <!-- Start single blog -->
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12" *ngFor="let bluger of bluger">
                            <div class="single-blog">
                                <div class="single-blog-img">
                                    <a routerLink="/bluger/content/{{bluger.BLUGER_ID}}">
                                        <img src={{bluger.My_Uploaded_files[0].My_URL}} alt="">
                                    </a>
                                </div>
                                <div class="blog-text">
                                    <h4>
                                        <a routerLink="/bluger/content/{{bluger.BLUGER_ID}}">{{bluger.TITLE}}</a>
                                    </h4>
                                    <p>
                                        {{bluger.DESCRIPTION}}
                                    </p>
                                </div>
                                <span>
            <a routerLink="/bluger/content/{{bluger.BLUGER_ID}}" class="ready-btn">Read more</a>
          </span>
                            </div>
                            <!-- Start single blog -->
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12" *ngFor="let bluger of bluger">
                            <div class="single-blog">
                                <div class="single-blog-img">
                                    <a routerLink="/bluger/content/{{bluger.BLUGER_ID}}">
                                        <img src={{bluger.My_Uploaded_files[0].My_URL}} alt="">
                                    </a>
                                </div>
                                <div class="blog-text">
                                    <h4>
                                        <a routerLink="/bluger/content/{{bluger.BLUGER_ID}}">{{bluger.TITLE}}</a>
                                    </h4>
                                    <p>
                                        {{bluger.DESCRIPTION}}
                                    </p>
                                </div>
                                <span>
          <a routerLink="/bluger/content/{{bluger.BLUGER_ID}}" class="ready-btn">Read more</a>
        </span>
                            </div>
                            <!-- Start single blog -->
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12" *ngFor="let bluger of bluger">
                            <div class="single-blog">
                                <div class="single-blog-img">
                                    <a routerLink="/bluger/content/{{bluger.BLUGER_ID}}">
                                        <img src={{bluger.My_Uploaded_files[0].My_URL}} alt="">
                                    </a>
                                </div>
                                <div class="blog-text">
                                    <h4>
                                        <a routerLink="/bluger/content/{{bluger.BLUGER_ID}}">{{bluger.TITLE}}</a>
                                    </h4>
                                    <p>
                                        {{bluger.DESCRIPTION}}
                                    </p>
                                </div>
                                <span>
        <a routerLink="/bluger/content/{{bluger.BLUGER_ID}}" class="ready-btn">Read more</a>
      </span>
                            </div>
                            <!-- Start single blog -->
                        </div>

                        <!-- number of pages -->
                        <!-- <div class="blog-pagination" style="align-self: end">
              <ul class="pagination">
                <li class="page-item"><a href="#" class="page-link">&lt;</a></li>
                <li class="page-item active"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">&gt;</a></li>
              </ul>
            </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog Page -->

</main>
<!-- End #main -->
