:root {
  --fristcolor: crimson;
  --seccolore: #1692fc;
  --fontcolor: white;
  --positiveDegx: rotateX(180deg);
  --positiveDegy: rotateY(180deg);
  --negativeDegX: rotateX(-180deg);
  --negativeDegY: rotateY(-180deg);
}

.section-title {
  text-align: center;
  padding-bottom: 50px;
}

.chances{
  display: flex;
  justify-content: space-between;
  position: relative;
}

.Popular-chances{
  width: 30%;
  max-height: 400px;
  margin-right: 45px;
}

@media (max-width:1000px){
  .chances{
    justify-content: center;
  }
  .Popular-chances{
    display:none;
  }
  .Popular-chances-mob{
    display:flex;
  }
  .chance-items-test{
    margin: 0 10px 50px 10px!important;
  }

    /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e7c012d2;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #74690f;
  }
}

@media (min-width:1000px){
  .Popular-chances-mob{
    display:none;
  }

    /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1b8f7cb4;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1b8f7b;
  }
}

@media (max-width:750px){
  .chances-items{
    flex-wrap: wrap;
  }
}

.Popular-chances h3{
  padding: 0px 20px 20px 20px;
  border-bottom: 2px solid #00000017;
  text-align: center;
}

.Popular-chances ul{
  list-style: none;
  height: 75%;
  margin-top: 20px;
  overflow-y: scroll;
  padding: 0;
  margin-right: 10px;
}

.Popular-chances ul li{
  margin-left: 20px;
  padding: 10px 15px;
  cursor: pointer;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.Popular-chances ul li:hover{
  background-color: #f4f0f0;
  padding-left: 30px;
}

.Popular-chances-mob{
  flex-direction: row-reverse;
  position: fixed;
  z-index: 1;
  left:-300px;
  top: 80px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.Popular-chances-mob button{
  padding: 10px;
  border: none;
  background: aquamarine;
  border-radius: 0 10px 10px 0;
  align-self: flex-start;
}

.Popular-chances-mob:hover{
  left: 0px;
}

.Popular-chances-mob ul{
  list-style: none;
  background-color: #18a38ffc;
  width: 300px;
  height: 35em;
  border-radius: 0 0 10px 0;
  text-align: center;
  padding: 0;
  overflow-y: scroll;
  -webkit-border-radius: 0 0 10px 0;
  -moz-border-radius: 0 0 10px 0;
  -ms-border-radius: 0 0 10px 0;
  -o-border-radius: 0 0 10px 0;
}

.Popular-chances-mob div h3{
  padding: 10px;
  background-color: #cedb40;
  margin: 0;
  text-align: center;
}

.Popular-chances-mob ul li{
  padding: 10px;
  cursor: pointer;
  color: white;
  transition:all 1s;
  -webkit-transition:all 1s;
  -moz-transition:all 1s;
  -ms-transition:all 1s;
  -o-transition:all 1s;
}

.Popular-chances-mob ul li:hover{
  background-color: #0e685afc;
}

.chances-items{
  display: flex;
  width: 70%;
  justify-content:center;
}

.items-info{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

@media (max-width:750px){
  .items-info{
    flex-direction:column;
    align-items: center;
  }

  .items-info span{
    margin-bottom: 10px;
  }
}

.chance-items-test{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  position: relative;
  box-shadow: inset 2px 2px 2px 0px rgb(255 255 255 / 50%), 7px 7px 20px 0px rgb(0 0 0 / 10%), 4px 4px 5px 0px rgb(0 0 0 / 10%);
  outline: none;
  line-height: 42px;
  padding: 20px;
  border: none;
  transition: all 0.3s ease;
  align-items: center;
  -webkit-transition: all 1.3s ease;
  text-align: center;
  background-color: #e9e8e6;
  cursor: pointer;
  user-select: none;
  margin-bottom: 70px;
  margin-left: 30px;
  color: black;
}

.chance-items-test h3{
  padding-top: 20px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  position: relative;
  margin-bottom: 30px;
}

.chance-items-test h3::before{
  content: "";
  border-bottom: 5px solid #0aa3827d;
  position: absolute;
  width: 100%;
  top: 65px;
}

.chance-items-test h3::after{
  content: "";
  border-bottom: 12px solid #1b8f7b;
  position: absolute;
  width: 6%;
  top: 62px;
  border-radius: 50%;
  left: 0;
  animation: move-right 2s infinite linear;
  -webkit-animation: move-right 4s infinite linear;
}

@keyframes move-right {
  0%{ transform:translateX(200%) ; -webkit-transform:translateX(200%) ; -moz-transform:translateX(200%) ; -ms-transform:translateX(200%) ; -o-transform:translateX(200%) ; }
  50%{ transform:translateX(1300%) ; -webkit-transform:translateX(1300%) ; -moz-transform:translateX(1300%) ; -ms-transform:translateX(1300%) ; -o-transform:translateX(1300%) ; }
  100%{ transform:translateX(200%); -webkit-transform:translateX(200%); -moz-transform:translateX(200%); -ms-transform:translateX(200%); -o-transform:translateX(200%); }
}

.chance-items-test p{
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 300px;
}

.chance-items-test:hover{
  color: #155a50 !important;
  background: transparent;
  box-shadow:none;
  cursor: pointer;
}

.chance-items-test:before,
.chance-items-test:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #34b7a7;
  box-shadow:
  -1px -1px 5px 0px #fff,
  7px 7px 20px 0px #0003,
  4px 4px 5px 0px #0002;
  transition:400ms ease all;
}

.chance-items-test:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

.chance-items-test:hover:before,
.chance-items-test:hover:after{
  width:100%;
  transition:800ms ease all;
}

.items-info-test span{
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 150px;
  padding: 5px;
  color: white;
  z-index: 1;
}

.items-info-test span::before {
  content: "";
  position: absolute;
  top: 0;
  left: -19px;
  height: 100%;
  width: 10%;
  background-color: #413f3f;
  z-index: -1;
  border-radius: 5px;
  transition: 1s;
  -webkit-transition: 1s;
}

.items-info-test .background-item-green::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #137a0f;
  z-index: -1;
  border-radius: 5px;
  transition: 1s;
  -webkit-transition: 1s;
}

.chance-items-test:hover .items-info-test .background-item-green::after{
  background-color: #175714;
}

.items-info-test .background-item-red::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #d01616b5;
  z-index: -1;
  border-radius: 5px;
  transition: 1s;
  -webkit-transition: 1s;
}

.chance-items-test:hover .items-info-test .background-item-red::after{
  background-color: #8f0d0d;
}


