<main id="main" *ngIf="personal != null">

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Chance</h2>
        <p>{{personal.BLUGER_DESCRIPTION}}</p>
      </div>
      <div class="chances">

      <a href="http://www.letsspeakturkish.com/" target="_blank">
        <div class="chance-items-test">
            <h2>Learn Turkish</h2>
            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
              Sections 1.10.32 and 1.10.33 from sado by Cicero are also reproduced in their exact original form,
              accompanied by English versions from the 1914 translation by H. Rackham.</p>
            <div class="items-info-test">
              <span class="background-item">2021-06-29</span>
            </div>
        </div>
      </a>

      <a href="http://www.letsspeakturkish.com/" target="_blank">
        <div class="chance-items-test">
            <h2>Learn Turkish</h2>
            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
              Sections 1.10.32 and 1.10.33 from sado by Cicero are also reproduced in their exact original form,
              accompanied by English versions from the 1914 translation by H. Rackham.</p>
            <div class="items-info-test">
              <span class="background-item">2021-06-29</span>
            </div>
        </div>
      </a>

      <a href="http://www.letsspeakturkish.com/" target="_blank">
        <div class="chance-items-test">
            <h2>Learn Turkish</h2>
            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
              Sections 1.10.32 and 1.10.33 from sado by Cicero are also reproduced in their exact original form,
              accompanied by English versions from the 1914 translation by H. Rackham.</p>
            <div class="items-info-test">
              <span class="background-item">2021-06-29</span>
            </div>
        </div>
      </a>



      </div>
    </div>
  </section><!-- End Services Section -->

</main><!-- End #main -->
