:root {
    --fristcolor: crimson;
    --seccolore: #1692fc;
    --fontcolor: white;
    --positiveDegx: rotateX(180deg);
    --positiveDegy: rotateY(180deg);
    --negativeDegX: rotateX(-180deg);
    --negativeDegY: rotateY(-180deg);
}

* {
    text-align: center;
}

#main {
    position: relative;
}

.rlt {
    direction: rtl;
}

.services .icon-box {
    box-shadow: none;
    /* box-shadow: 0px 0 35px 0 rgb(0 0 0 / 8%); */
}

.section-title {
    text-align: center;
    padding-bottom: 50px;
}

.chances {
    display: flex;
    justify-content: space-between;
}

.features .icon-box {
    margin-bottom: 20px;
    text-align: center;
}

.features .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    margin-bottom: 20px;
    transition: 0.5s;
    overflow: hidden;
    box-shadow: 0px 0 25px rgb(0 0 0 / 15%);
}

.features .icon i {
    line-height: 0;
    color: #1b9e88;
    font-size: 34px;
}

.features .icon-box:hover .icon {
    box-shadow: 0px 0 25px #1b9e88b5;
}

.features .title {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 18px;
    position: relative;
    padding-bottom: 15px;
}

.features .title a {
    color: #444444;
    transition: 0.3s;
    cursor: pointer;
}

.features .title a:hover {
    color: #ab2e30;
}

.features .title::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: #1b9e88;
    bottom: 0;
    left: calc(50% - 25px);
}

.features .description {
    line-height: 24px;
    font-size: 14px;
}

.items {
    direction: rtl;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.section-title-popout {
    text-align: center;
    padding-bottom: 20px;
}

.items-desc {
    margin: 10px 0 40px 0;
}

.chance-readmore {
    cursor: pointer;
    margin: 10px;
    font-size: 15px;
    color: #006fbe;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.chance-readmore:hover {
    color: #eb3f42;
}

.read-more a {
    color: #777777;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: 0.4s;
    cursor: pointer;
}

.read-more a:hover {
    text-decoration: underline;
    color: #eb3f42;
}

.left-blog h4 {
    border-bottom: 1px solid #ddd;
    color: #444;
    font-size: 17px;
    margin-bottom: 0;
    padding: 15px 10px;
    text-transform: uppercase;
}

.left-blog {
    background: #f9f9f9 none repeat scroll 0 0;
    margin-bottom: 30px;
    overflow: hidden;
    padding-bottom: 20px;
}

.left-blog li {
    border-bottom: 1px solid #ddd;
    display: block;
}

.left-blog ul li a {
    color: #444;
    display: block;
    font-size: 14px;
    padding: 10px;
    text-transform: capitalize;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.pst-content p a:hover,
.left-blog ul li a:hover {
    color: #eb3f42;
}

.left-blog {
    background: #f9f9f9 none repeat scroll 0 0;
    margin-bottom: 30px;
    overflow: hidden;
    padding-bottom: 20px;
}

.popular-tag.left-side-tags.left-blog ul {
    padding: 0 10px;
}

.left-blog li:last-child {
    border-bottom: 0;
}

.left-blog>ul {
    padding: 0;
}

.popular-tag.left-blog ul li a:hover {
    color: #fff;
}

.popular-tag.left-side-tags.left-blog ul {
    padding: 0 10px;
}

.left-blog ul li {
    cursor: pointer;
}

.left-blog ul {
    max-height: 300px;
    overflow: auto;
}

.single-blog-page-mob {
    display: none;
}

@media (max-width:990px) {
    .single-blog-page {
        display: none;
    }
    .single-blog-page-mob {
        display: block;
        position: fixed;
        background-color: #cdcdcd;
        z-index: 1;
        left: -40%;
        top: 20%;
        max-width: 40%;
        padding: 10px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        transition: all 0.8s;
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -ms-transition: all 0.8s;
        -o-transition: all 0.8s;
    }
    .single-blog-page-mob::before {
        content: "=>";
        padding: 10px;
        background-color: #cdcdcd;
        border-radius: 0px 10px 10px 0px;
        color: #f9f9f9;
        font-size: 25px;
        position: absolute;
        right: -40px;
        top: 0;
        cursor: pointer;
        -webkit-border-radius: 0px 10px 10px 0px;
        -moz-border-radius: 0px 10px 10px 0px;
        -ms-border-radius: 0px 10px 10px 0px;
        -o-border-radius: 0px 10px 10px 0px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
    }
    .single-blog-page-mob:hover {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }
}

@media (max-width:770px) {
    .single-blog-page-mob {
        left: -85%;
        max-width: 85%;
        top: 20%;
    }
}
